/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: 20px 0;
}

/* Variables */
:root {
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
    --white-0: hsl(0, 0%, 100%);
}

/* Style général */
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--stone-100);
    color: var(--stone-900);
    font-size: 16px;
    line-height: 1.5;
}

/* Titres */
h1,
h2 {
    font-family: 'Young Serif', serif;
}

/* Style main*/
main {
    max-width: 750px;
    margin: 20px auto;
    padding: 30px;
    background-color: var(--white-0);
    border-radius: 15px;
}

/* image */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

/* intro */
.intro h1,
.intro p {
    margin: 20px 0;
}

h1 {
    font-size: 2rem;
    color: var(--stone-900);
}

p {
    font-size: 1rem;
    color: var(--stone-600);
}

/* Bloc preparation */
.preparation {
    margin: 20px 0;
    padding: 20px;
    background-color: var(--rose-50);
    border-radius: 10px;
}

.preparation h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 1.3rem;
    color: var(--rose-800);
    margin-bottom: 12px;
}

.preparation ul {
    padding-left: 20px;
    font-size: 0.9rem;
    list-style-type: disc;
}

.preparation li::marker {
    color: var(--rose-800);
}

.preparation li {
    padding-left: 1rem;
}

/* Bloc ingredients */
.ingredients h2 {
    color: var(--brown-800);
    font-size: 1.5rem;
}

.ingredients ul {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 0.9rem;
}

.ingredients li::marker {
    color: var(--brown-800);
}

.ingredients li {
    padding-left: 1rem;
}

.separator {
    height: 1px;
    background-color: var(--stone-600);
    margin: 20px 0;
}

/* Bloc instructions */
.instructions h2 {
    color: var(--brown-800);
    font-size: 1.5rem;
}

.instructions ol {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 0.9rem;
}

.instructions li::marker {
    color: var(--brown-800);
    font-weight: bold;
}

.instructions li {
    padding-left: 1rem;
}

/* Bloc nutricion */
.nutrition h2 {
    color: var(--brown-800);
    font-size: 1.5rem;
}

.nutrition p {
    margin: 10px 0;
    font-size: 0.9rem;
}

.nutrition table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

td>strong {
    color: var(--brown-800);
}

.nutrition tr:not(:last-child) td {
    border-bottom: 1px solid var(--stone-600);
}

td {
    padding: 12px 0;
    font-size: 0.9rem;
}

td:first-child {
padding-left: 2rem;
}

/* Reponsive */
@media (max-width: 750px) {
    main {
        padding: 20px;
        margin: 0;
    }

    h1 {
        font-size: 1.5rem;
    }

    .nutrition table {
        font-size: 0.8rem;
    }
    body {
        background-color: var(--white-0);
    }
}